.header{
    background-image: linear-gradient(to right, var(--Azul), var(--Rojo));
    padding: 1rem 3rem;
    height: 6rem;
}

.header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    height: 2.5rem;
}